@page "/booking"
@rendermode InteractiveServer
@using System.Runtime.CompilerServices
@using Danplanner.Shared.Models
@using Danplanner.Client.Components
@inject IBookingService BookingService
@inject ICottageService CottageService
@inject IGrassFieldService GrassFieldService

<DatePicker StartDateChanged="HandleStartDateChange" EndDateChanged="HandleEndDateChange"/>

<InputRadioGroup @bind-Value="SelectedDiscount">
    <div class="form-check form-check-inline">
        <InputRadio Value="@("none")" />
        <label> Ingen rabat</label>
    </div>
    <div class="form-check form-check-inline">
        <InputRadio Value="@("senior")" />
        <label> Seniorrabat</label>
    </div>
    <div class="form-check form-check-inline">
        <InputRadio Value="@("student")" />
        <label> Studierabat</label>
    </div>
</InputRadioGroup>

@if(startDate is not null && endDate is not null){
    <GuestCounter GuestCountCallback="HandleGuestCountChanged"/>
}

@if(GuestCount is not null){
    <FieldPicker
        SelectedFieldNumberCallback="HandleFieldNumberChanged"
        SelectedFieldCallback="HandleFieldTypeChanged"
        GuestAmount="GuestCount"/>
}

@if(FieldType == ProductType.Cottage){
    <CottageAddon AddonCottageCallback="HandleSelectedCottageAddonsChanged"/>
}

@if(FieldType == ProductType.GrassField){
    <GrassFieldAddon AddonGrassFieldCallback="HandleSelectedGrassFieldAddonsChanged"/>
}

@if (FieldNumber is not null)
{
    <button type="submit" class="btn btn-success mt-4" style="transform: translate(1300px, -62px); position: absolute" @onclick=HandleConfirmBooking>Bekr&#230;ft k&#248;b</button>
}

@code {
    @*Kalender booking*@
    private DateTime? startDate;
    private DateTime? endDate;

    private void HandleStartDateChange(DateTime? date)
    {
        startDate = date;
    }

    private void HandleEndDateChange(DateTime? date)
    {
        endDate = date;
    }

    @* Rabat *@
    private string? SelectedDiscount;
    
    @*Antal gæster*@
    private int? GuestCount;
    private void HandleGuestCountChanged(int? count)
    {
        GuestCount = count;
    }

    @*Pladser*@
    @*Græs eller hytteplads*@
    private ProductType? FieldType;
    private void HandleFieldTypeChanged(ProductType? field)
    {
        FieldType = field;
    }

    @*Plads nummer på kort*@
    private int? FieldNumber;
    private void HandleFieldNumberChanged(int? fieldnumber)
    {
        FieldNumber = fieldnumber;
    }

    @*Hytte tilkøb*@
    private List<BookingAddonDto>? SelectedCottageAddons;
    private void HandleSelectedCottageAddonsChanged(List<BookingAddonDto>? addons)
    {
        SelectedCottageAddons = addons;
    }

    @*Græsplads tilkøb*@
    private List<BookingAddonDto>? SelectedGrassFieldAddons;
    private void HandleSelectedGrassFieldAddonsChanged(List<BookingAddonDto>? addons)
    {
        SelectedGrassFieldAddons = addons;
    }

    private async Task HandleConfirmBooking()
    {
        int? cottageId = null;
        int? grassFieldId = null;
        if (FieldType == ProductType.Cottage)
        {
            var allCottages = await CottageService.GetAllAsync();
            var cottage = allCottages.FirstOrDefault(c => c.Number == FieldNumber);
            cottageId = cottage?.Id;
        }
        else if (FieldType == ProductType.GrassField)
        {
            var allGrassFields = await GrassFieldService.GetAllAsync();
            var grassField = allGrassFields.FirstOrDefault(gf => gf.Number == FieldNumber);
            grassFieldId = grassField?.Id;
        }

        List<BookingAddonDto> addons = [];
        if (SelectedCottageAddons is not null)
        {
            addons = SelectedCottageAddons;
        }
        else if (SelectedGrassFieldAddons is not null)
        {
            addons = SelectedGrassFieldAddons;
        }
    
        await BookingService.CreateAsync(new BookingDto{
            StartDate = startDate.GetValueOrDefault(),
            EndDate = endDate.GetValueOrDefault(),
            NumberOfPeople = GuestCount.GetValueOrDefault(),
            ProductId = FieldType == ProductType.Cottage ? 12 : 11,
            CottageId = cottageId ?? null,
            GrassFieldId = grassFieldId ?? null,
            BookingAddons = addons,
            DiscountType = SelectedDiscount ?? "none",
        });
    }
}

