@page "/booking"
@rendermode InteractiveServer
@using System.Runtime.CompilerServices
@using Danplanner.Shared.Models
@using Danplanner.Client.Components
@inject IBookingService BookingService
@inject ICottageService CottageService
@inject IGrassFieldService GrassFieldService
@inject IAddonService AddonService

<DatePicker StartDateChanged="HandleStartDateChange" EndDateChanged="HandleEndDateChange"/>
<Discount/>

@if(startDate is not null && endDate is not null){
    <GuestCounter GuestCountCallback="HandleGuestCountChanged"/>
}

@if(GuestCount is not null){
    <FieldPicker
        SelectedFieldNumberCallback="HandleFieldNumberChanged"
        SelectedFieldCallback="HandleFieldTypeChanged"
        GuestAmount="GuestCount"/>
}

@if(FieldType == ProductType.Cottage){
    <CottageAddon AddonCottageCallback="HandleSelectedCottageAddonsChanged"/>
}

@if(FieldType == ProductType.GrassField){
    <GrassFieldAddon AddonGrassFieldCallback="HandleSelectedGrassFieldAddonsChanged"/>
}

<button type="submit" class="btn btn-success mt-4" style="transform: translate(1300px, -62px); position: absolute" @onclick=HandleConfirmBooking>Bekr&#230;ft k&#248;b</button>


@code {
    @*Kalender booking*@
    private DateTime? startDate;
    private DateTime? endDate;

    private void HandleStartDateChange(DateTime? date)
    {
        startDate = date;
    }

    private void HandleEndDateChange(DateTime? date)
    {
        endDate = date;
    }

    
    @*Antal gæster*@
    private int? GuestCount;
    private void HandleGuestCountChanged(int? count)
    {
        GuestCount = count;
    }

    @*Pladser*@
    @*Græs eller hytteplads*@
    private ProductType? FieldType;
    private void HandleFieldTypeChanged(ProductType? field)
    {
        FieldType = field;
    }

    @*Plads nummer på kort*@
    private int? FieldNumber;
    private void HandleFieldNumberChanged(int? fieldnumber)
    {
        FieldNumber = fieldnumber;
    }

    @*Hytte tilkøb*@
    private AddonDto? SelectedCottageAddons;
    private void HandleSelectedCottageAddonsChanged(AddonDto? addon)
    {
        SelectedCottageAddons = addon;
    }

    @*Græsplads tilkøb*@
    private AddonDto? SelectedGrassFieldAddons;
    private void HandleSelectedGrassFieldAddonsChanged(AddonDto? addon)
    {
        SelectedGrassFieldAddons = addon;
    }

    private async Task HandleConfirmBooking()
    {
        decimal? totalPrice = 0.0m;
        if (FieldType == ProductType.Cottage)
        {
            var cottage = await CottageService.GetByIdAsync(FieldNumber.GetValueOrDefault());
            totalPrice = cottage?.PricePerNight + GuestCount * 400 + SelectedCottageAddons?.Price;
        }
        else if (FieldType == ProductType.GrassField)
        {
            var grassField = await GrassFieldService.GetByIdAsync(FieldNumber.GetValueOrDefault());
            totalPrice = grassField?.PricePerNight + GuestCount * 200 + SelectedGrassFieldAddons?.Price;
        }

        var allAddons = await AddonService.GetAllAsync();

        await BookingService.CreateAsync(new BookingDto{
            StartDate = startDate.GetValueOrDefault(),
            EndDate = endDate.GetValueOrDefault(),
            NumberOfPeople = GuestCount.GetValueOrDefault(),
            ProductId = FieldType == ProductType.Cottage ? 12 : 11,
            Status = "Aktiv",
            TotalPrice = totalPrice.GetValueOrDefault(),
            BookingAddons = new List<BookingAddonDto>{
                new BookingAddonDto{
                    Addon = FieldType == ProductType.Cottage ? SelectedCottageAddons : SelectedGrassFieldAddons,
                    Price = totalPrice.GetValueOrDefault(),
                    Quantity = 1,
                }
            },
        });
    }
}

