@page "/booking"
@rendermode InteractiveServer
@using System.Runtime.CompilerServices
@using Danplanner.Shared.Models
@using Danplanner.Client.Components
@inject IBookingService BookingService

<DatePicker StartDateChanged="HandleStartDateChange" EndDateChanged="HandleEndDateChange"/>
<Discount/>

@if(startDate is not null && endDate is not null){
    <GuestCounter GuestCountCallback="HandleGuestCountChanged"/>
}

@if(GuestCount is not null){
    <FieldPicker
        SelectedFieldNumberCallback="HandleFieldNumberChanged"
        SelectedFieldCallback="HandleFieldTypeChanged"
        GuestAmount="GuestCount"/>
}

@if(FieldType == ProductType.Cottage){
    <CottageAddon AddonCottageCallback="HandleSelectedCottageAddonsChanged"/>
}

@if(FieldType == ProductType.GrassField){
    <GrassFieldAddon AddonGrassFieldCallback="HandleSelectedGrassFieldAddonsChanged"/>
}

<button type="submit" class="btn btn-success mt-4" style="transform: translate(1300px, -62px); position: absolute" >Bekr&#230;ft k&#248;b</button>


@code {
    @*Kalender booking*@
    private DateOnly? startDate;
    private DateOnly? endDate;

    private void HandleStartDateChange(DateTime? date)
    {
        startDate = DateOnly.FromDateTime(date.GetValueOrDefault());
    }

    private void HandleEndDateChange(DateTime? date)
    {
        endDate = DateOnly.FromDateTime(date.GetValueOrDefault());
    }

    
    @*Antal gæster*@
    private int? GuestCount;
    private void HandleGuestCountChanged(int? count){
        GuestCount = count;
    }

    @*Pladser*@
    @*Græs eller hytteplads*@
    private ProductType? FieldType;
    private void HandleFieldTypeChanged(ProductType? field){
        FieldType = field;
    }

    @*Plads nummer på kort*@
    private int? FieldNumber;
    private void HandleFieldNumberChanged(int? fieldnumber){
        FieldNumber = fieldnumber;
    }

    @*Hytte tilkøb*@
    private AddonDto? SelectedCottageAddons;
    private void HandleSelectedCottageAddonsChanged(AddonDto? addon){
        SelectedCottageAddons = addon;
    }

    @*Græsplads tilkøb*@
    private AddonDto? SelectedGrassFieldAddons;
    private void HandleSelectedGrassFieldAddonsChanged(AddonDto? addon){
        SelectedGrassFieldAddons = addon;
    }
}

