@page "/bookingcalendar"
@rendermode InteractiveServer
@using System.Runtime.CompilerServices
@using Danplanner.Shared.Models
@inject IBookingService BookingService

<div class="d-flex justify-content-center">
    <label class="with-margin">
        Start dato<br/>
        <InputDate @bind-Value="@startDate" />
    </label>
    <label class="with-margin">
        Slut dato<br/>
        <InputDate @bind-Value="@endDate" />
    </label>
</div>

<div class="content-grid">
    @if (startDate != null)
    {
        <p class="right-aligned with-margin">Ophold fra @(ChangeDate(startDate))</p>
    }
    @if (endDate != null)
    {
        <p class="with-margin">til @(ChangeDate(endDate))</p>
    }
</div>

<div class="right-btn">
    @if (startDate != null && endDate != null)
    {
        <NavLink href="/bookingmap">
            <button class="btn btn-primary">N&#230;ste &#x21FE;</button>
        </NavLink>
    }
</div>

@code{
    private DateTime? startDate;
    private DateTime? endDate;

    private string ChangeDate(DateTime? date)
    {
        return date != null ? DateOnly.FromDateTime(date.GetValueOrDefault()).ToString() : "";
    }
}