@page "/camping-map"
<head>
	<div class="d-flex justify-content-center">
	<h3><b>Her ser du oversigt over campingpladsen</b></h3>
		<title>Oversigt over campingpladsen</title>
	</div>
	<div class="d-flex justify-content-center">
		<img src="../img/campingmap.png">
	</div>
</head>

