@page "/users"
@using Danplanner.Client.Services;
@using Danplanner.Shared.Models
@inject Authservice Authservice


<h3>All Users</h3>

@if (users is null)
{
    <p><em>Loading...</em></p>
}
else if (users.Count == 0)
{
    <p>No users found.</p>
}
else
{
    <ul>
        @foreach (var u in users)
        {
            <li>@u.Id - @u.Email</li>
        }
    </ul>
}

@code {

    // Liste til at holde brugerne
    private List<UserDto>? users;
    // Hent brugerne via Authservice ved initialisering
    protected override async Task OnInitializedAsync()
    {

        users = await Authservice.GetUsersAsync();
    }
}


