@page "/users"
@using Danplanner.Client.Services;
@using Danplanner.Shared.Models
@* @inject Authservice Authservice *@

<h3>All Users</h3>

@if (users is null)
{
    <p><em>Loading...</em></p>
}
else if (users.Count == 0)
{
    <p>No users found.</p>
}
else
{
    <ul>
        @foreach (var u in users)
        {
            <li>@u.Id – @u.Username</li>
        }
    </ul>
}

@code {
    private List<UserDto>? users;

    protected override async Task OnInitializedAsync()
    {
        @* users = await Authservice.GetUsersAsync(); *@
    }
}

