<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="img/danplanner-logo.png" style="max-width: 20vh" alt="Danplanner logo">
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bookingcalendar">
                <span class="bi" style="margin-bottom: 3vh" aria-hidden="true"><BookingIcon/></span> Booking
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="campingmap">
                <span class="bi" style="margin-bottom: 3vh" aria-hidden="true"><MapIcon/></span> Oversigt
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi" style="margin-bottom: 3vh" aria-hidden="true"><LoginIcon/></span> Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi" style="margin-bottom: 3vh" aria-hidden="true"><AddUserIcon/></span> Register
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi" style="margin-bottom: 3vh" aria-hidden="true"><UserIcon/></span> Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="camping">
                <span class="bi" style="margin-bottom: 3vh" aria-hidden="true"><InfoIcon/></span> Information
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="bi" style="margin-bottom: 3vh" aria-hidden="true"><InfoIcon /></span> Home
            </NavLink>
        </div>
    </nav>
</div>

