services:
  usersdb:
    build:
      context: ./database
      dockerfile: Dockerfile
    image: my-mysql-with-init
    environment:
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_DATABASE: usersdb
    ports:
      - "3307:3306"
    volumes:
      - usersdb-data:/var/lib/mysql

  authenticationservice:
    build:
      context: ./AuthenticationService
      dockerfile: Dockerfile
    image: authenticationservice:latest
    environment:
      ConnectionStrings__MySql: "Server=usersdb;Port=3306;Database=usersdb;User=root;Password=rootpw"
      Jwt__Key: "super_secret_exam_key_that_is_long_enough_123456"
      Jwt__Issuer: "AuthService"
      Jwt__Audience: "Gateway"
      ASPNETCORE_URLS: "http://+:5000"
      DOTNET_ENVIRONMENT: "Docker"
    depends_on:
      - usersdb

  gateway:
    build:
      context: ./Gateway
      dockerfile: Dockerfile
    image: gateway:latest
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      DOTNET_ENVIRONMENT: "Docker"
    depends_on:
      - authenticationservice
    ports:
      - "8080:8080"

volumes:
  usersdb-data: