@rendermode InteractiveServer
@using System.Runtime.CompilerServices
@using Danplanner.Shared.Models

<div class="d-flex justify-content-center">
    <h3><strong>V&#230;lg antal g&#230;ster</strong></h3>
</div>

<div class="form-group mb-3" style="transform: translateX(25%);">
    <label class="form-label">V&#230;lg antal g&#230;ster</label> <br/>
    <InputSelect TValue="int" id="AmountOfPeople" @bind-value="SelectedAmount" class="form-select" style="max-width: 50%" @onclick="GuestCountChanged">
    <option value="null" selected>-</option>
    @foreach (var p in AmountOfPeople)
        {
            <option value="@p">@p</option>		
        }
	</InputSelect>
</div>

@code{
    @*Selection*@
    private int SelectedAmount { get; set; }
    private int SelectedCottageNumber { get; set; }

    private IEnumerable<int> FilteredCottageNumbers = new List<int>();

    private IEnumerable<int> AmountOfPeople = new List<int> { 1, 2, 3, 4, 5 };

    @* Flyttet til FieldPicker.razor *@
    @* Dictionary<int, List<int>> CottagesByPersonCount = new Dictionary<int, List<int>>()
    {
        [1] = new List<int> {1, 2, 3},
        [2] = new List<int> {4, 5, 6},
        [3] = new List<int> {7, 8, 9},
        [4] = new List<int> {10, 11, 12},
        [5] = new List<int> {13, 14, 15},
    }; *@


    @* public void AmountChanged(int value)
    {
        if (CottagesByPersonCount.ContainsKey(value))
        {
           FilteredCottageNumbers = FieldsByPersonCount[value];
        }
    } *@

    @*Callback event*@
    [Parameter]
    public EventCallback<int?> GuestCountCallback { get; set; }
    private async Task GuestCountChanged(MouseEventArgs e){
        await GuestCountCallback.InvokeAsync(SelectedAmount);
    }
}